@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

.footer-container {
    position: relative;
    margin-top: auto;
    width: 100%;
    background-color: rgba(40, 44, 50, 0.9); 
    color: #d1d5db; 
    height: 100%;    
    gap: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

.footer-contact{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }

.contact-title {
    position: absolute;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
  }

  .contact-info {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .contact-info ul {
    list-style-type: none; /* Removendo os marcadores padrão da lista */
    padding: 0; /* Removendo o preenchimento padrão da lista */
  }
  
  .contact-info li {
    margin-bottom: 4px; /* Espaçamento entre os itens da lista */
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2px; 
  }
  
  .social-links-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px; 
    margin-bottom: 20px; 
    margin-left: 10px;
    gap: 8px; 
  }
  
  .social-links h3 {
    position: absolute;
    justify-content: center;
    font-weight: bold;
    margin-top: -35px; /* ajuste conforme necessário */
  }

  .footer-info {
    position:absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    padding: 1px 0px; 
    width: 100%;
    background-color: #4b5563; /* bg-neutral-800 */
  }
  
  .footer-info p {
    margin: 0;
  }
  
  .footer-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-info li {
    padding-left: 3px; /* Ajuste conforme necessário */
  }

  
  @media (min-width: 640px) {
    .footer-container {
      gap: 200px;
    }
  }
  
  @media (min-width: 768px) {
    .footer-container {
      gap: 400px;
    }
  }
  
  @media (min-width: 1024px) {
    .footer-container {
      gap: 500px;
    }
  }