@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

.footer-container {
    position: relative;
    margin-top: auto;
    width: 100%;
    background-color: rgba(40, 44, 50, 0.9); 
    color: #d1d5db; 
    height: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

.footer-container-contact{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-bottom: 10px;
    gap: 8px; 
  }

.contact-title {
    position: relative;
    font-weight: bold;
    text-align: left;
    margin-top: 8px;
  }

  .contact-info {
    position: relative;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
  }
  
  .contact-info ul {
    list-style-type: none;
    gap: 7px;
  }
  
  .contact-info li {
    margin-bottom: 7px; 
  }
  
  .social-links-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-height: 1px;
    gap: 8px;
  }
  
  .social-links-title {
    position: relative;
    font-weight: bold;
    text-align: center;
  }

  .social-links-info {
    display: flex;
    gap: 7px;
    position: relative;
    font-weight: bold;
    text-align: left;
    margin-top: 7px;
  }

  .footer-info {
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    padding: 1px 0px; 
    width: 100%;
    background-color: #4b5563;
  }
  
  .footer-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-info li {
    padding-left: 6px; 
  }

  
  @media (min-width: 640px) {
    .footer-container-contact {
      gap: 200px;
    }
  }
  
  @media (min-width: 768px) {
    .footer-container-contact{
      gap: 400px;
    }
  }
  
  @media (min-width: 1024px) {
    .footer-container-contact {
      gap: 500px;
    }
  }