* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/fundo.jpg");   
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  color: #f6f6f6;
  box-sizing: border-box;
  height: 100%
}